body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 20px;
    box-sizing: border-box;
}

.right-panel {
    flex-basis: 75%;
    padding: 40px;
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

button {
    background-color: #a30c69;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.sub-tela {
    display: none;
    background-color: #222;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.sub-tela.active {
    display: block;
}

.sub-tela-title {
    text-align: left;
    margin-top: 0;
}

.sub-tela-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.sub-tela form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sub-tela form label {
    flex-basis: 100%;
    margin-bottom: 5px;
}

.sub-tela form input,
.sub-tela form select {
    flex-basis: calc(50% - 10px);
    padding: 5px;
    margin-bottom: 10px;
}

.sub-tela form button {
    background-color: #a30c69;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sub-tela-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.sub-tela-list-title {
    margin-top: 0;
}